.bar-container {
  display: flex;
  align-items: flex-end;
  height: 200px;
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  justify-content: center;
  gap: 3px;
  background-color: #f9f9f9;
}

.bar {
  width: 10px;
  background-color: gray;
  transition: height 0.3s, background-color 0.3s;
}


