:root {
    --bg-info: #007bff;
    --bg-info-hover: #006bdd;
    --bg-success: #5cb85c;
    --bg-success-hover: #4cae4c;
    --bg-danger: #d9534f;
    --bg-danger-hover: #c9302c;
    --bg-warning: #f0ad4e;
    --bg-warning-hover: #ec971f;
    --bg-disabled: #aaa;

    --red: #ff6b6b;
    --green: #51cf66; 
    --orange: #ffa41bff;
    --purple: #9b27b0;
    --light-grey: #aaaaaa;
    --light-blue: #5b99e1;


}

.bg-success {
    background-color: var(--bg-success);
}
.bg-danger {
    background-color: var(--bg-danger);
}
.bg-danger:hover:not(:disabled) {
    background-color: var(--bg-danger-hover);
}

.bg-warning {
    background-color: var(--bg-warning);
}
.bg-info {
    background-color: var(--bg-info);
}
.bg-disabled {
    background-color: var(--bg-disabled);
}


div.low {
  background-color: var(--orange);
}

div.mid {
  background-color: var(--red);
}

div.high {
  background-color: var(--orange);
}

div.current {
  background-color: var(--red);
}

div.sorted, div.found {
  background-color: var(--green);
}

/* Color states for bars */

.bar.current {
  background-color: var(--red);
}

.bar.sorted {
  background-color: var(--green);
}

.bar.swapping {
  background-color: var(--orange);
}

.in-partition:not(.sorted, .pivot, .current, .swapping, .sorted-in-partition),
.in-range {
  background-color: var(--light-grey);
  opacity: 0.7;
}

.bar.pivot {
  background-color: var(--purple);
}

.bar.sorted-in-partition {
  background-color: var(--light-blue);
}