.bg-green {
    background-color: #87b587;
}
.bg-red {
    background-color: #cf9393;

}
.bg-yellow {
    background-color: #b8b88e;
}
.bg-blue {
    background-color: #9090ba;
}
.bg-gray {
    background-color: #ece9e9;
}