*{
    margin: 0;
box-sizing: border-box;
padding: 0;
}

.md-box {
    padding: 7px 10px;
    font-size: 1rem;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 3px;
    margin: 3px;
    background-color: #f3f3f3;
}

.container {
  text-align: center;
  font-family: sans-serif;
  margin: 20px auto;
  max-width: 900px;
}

input.digit {
  max-width: 150px;
  padding: .5rem 1rem;
  font-size: 1.3rem;
  text-align: center;
  border: 2px solid lightgray;
  border-radius: 2px;
  margin: 5px;
  outline: none;
}