*{
    margin: 0;
box-sizing: border-box;
padding: 0;
}

.md-box {
    padding: 10px 15px;
    font-size: 2rem;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 5px;
    background-color: #f3f3f3;
}

button {
  padding: 6px 12px;
  margin: 0 6px;
  border: none;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-size: 1.1rem;
}

button:hover:not(:disabled) {
  background-color: #0056b3;
}

button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}


input {
    border : 1px solid lightgray;
    padding: 0.5rem;
    font-size: 2rem;
}
input:first-child {
    outline: none;
}

input.digit {
    width: 10rem;
}




